<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pomodoro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B73373A01EF6B09A00AAECBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B73373B71EF6B09B00AAECBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B73373C21EF6B09B00AAECBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
